[submodule "vendor/gopkg.in/yaml.v2"]
	path = vendor/gopkg.in/yaml.v2
	url = https://gopkg.in/yaml.v2
[submodule "vendor/gopkg.in/check.v1"]
	path = vendor/gopkg.in/check.v1
	url = https://gopkg.in/check.v1
[submodule "vendor/github.com/akavel/rsrc"]
	path = vendor/github.com/akavel/rsrc
	url = https://github.com/akavel/rsrc
[submodule "vendor/github.com/GeertJohan/go.incremental"]
	path = vendor/github.com/GeertJohan/go.incremental
	url = https://github.com/GeertJohan/go.incremental
[submodule "vendor/github.com/daaku/go.zipexe"]
	path = vendor/github.com/daaku/go.zipexe
	url = https://github.com/daaku/go.zipexe
[submodule "vendor/github.com/kardianos/osext"]
	path = vendor/github.com/kardianos/osext
	url = https://github.com/kardianos/osext
[submodule "vendor/github.com/davecgh/go-spew"]
	path = vendor/github.com/davecgh/go-spew
	url = https://github.com/davecgh/go-spew
[submodule "vendor/github.com/jessevdk/go-flags"]
	path = vendor/github.com/jessevdk/go-flags
	url = https://github.com/jessevdk/go-flags
[submodule "vendor/github.com/juju/errgo"]
	path = vendor/github.com/juju/errgo
	url = https://github.com/juju/errgo
[submodule "vendor/github.com/disintegration/imaging"]
	path = vendor/github.com/disintegration/imaging
	url = https://github.com/disintegration/imaging
[submodule "vendor/golang.org/x/image"]
	path = vendor/golang.org/x/image
	url = https://go.googlesource.com/image
[submodule "vendor/github.com/fvbock/trie"]
	path = vendor/github.com/fvbock/trie
	url = https://github.com/fvbock/trie
[submodule "vendor/github.com/julienschmidt/httprouter"]
	path = vendor/github.com/julienschmidt/httprouter
	url = https://github.com/julienschmidt/httprouter
