#header {
    margin-top: 3%;
    padding-bottom: 3%;
}

#logo {
    max-width: 15rem;
}

#expl {
    font-size: 2em;
}

#expl2 {
    text-align: right;
}
.asterisk {
    font-weight: bold;
    color: red;
}

#expl {
    margin-top: 5rem;
}

#img-preview img {
    width: 100%;
    max-width: 40em;
}

.image-meta {
    margin: 3.5rem 0.5rem;
    font-size: 1.2em;
    text-align: center;
}

a.download {
    margin: 1em auto;
    padding: 0.3em 1.2em;
    background-color: #008000;
    border-bottom: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
}


a.download:hover {
    background-color: #006600;
    border-bottom: none;
}

.image-meta share-button {
    background-color: #008000;
    color: white;
    padding: 0.3em 1.2em;
    text-transform: none;
    font-size: 1em;
    font-weight: bold;
}

.image-meta share-button:hover {
    background-color: #006600;
}

.image-meta share-button:before {
    display: none;
}

#footer {
    margin-top: 6rem;
    margin-bottom: 2rem;
    text-align: center;
    font-size: 1.8em;
}
/*
#sideblock {
    display: inline-block;
    width: 30%;
    max-width: 20em;
    vertical-align: top;
    padding: 4em 2em;x
}

#preview {
    vertical-align: top;
}

#sideblock a.download {
    display: inline-block;
    margin: 1em 2em;
    padding: 0.3em 1.2em;
    background-color: #008000;
    border-bottom: none;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    text-decoration: none;
}


#sideblock a.download:hover {
    background-color: #006600;
    border-bottom: none;
}

#sideblock a {
    display: inline-block;
    color: black;
    text-decoration: none;
    border-bottom: 1px dotted red;
}

#sideblock a:hover {
    border-bottom: 1px solid red;
}
*/